    <section>
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-8365885969828942";
      /* no burn day */
      google_ad_slot = "0293126353";
      google_ad_width = 728;
      google_ad_height = 15;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    </section>


    <form method="get" onsubmit="return formSubmit()">
      Is it a no-burn day in
      <input type="text" id="zip_input" value="85225" maxlength="5"/>
      <a href="#" onclick="formSubmit();">my city</a>?
      <input type="submit" style="display: none;" />
    </form>
