!!! 5
%html
  / The source for this website is made freely available on GitHub.
  /
  / Check out github.com/mchung/airstatus
  /
  / Contributors wanted.
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "no burn day phoenix", :name => "keywords"}/
    %meta{:content => "Is it a No Burn Day in Phoenix?", :name => "description"}/
    %meta{:content => "UySEkVpFOocl8-VVEHHc3uu2TX_rkIaWE5Csu_9N2Ag", :name => "google-site-verification"}/
    %link{:rel => "stylesheet", :href => "/stylesheets/reset.css", :type => "text/css", :media => "all"}
    %link{:rel => "stylesheet", :href => "/application.css", :type => "text/css", :media => "all"}
    %title IsItNoBurnDay?
  %body
    %section
      %a{:href => "http://airstat.us"}
        %img{:src => "/logo.png"}/
    %section#burnday
      = yield

    %section.tiny.support
      %a{:href => "http://airstat.us"}Interested in receiving air quality notifications in a city near you?
      / %a{:href => "/sf"}San Francisco,
      / %a{:href => "/phx"}Phoenix,
      / %a{:href => "http://eepurl.com/eDgKk"} Don't see your city?

    %section.tiny
      %a{:href => "http://blog.airstat.us/"}
        Read the blog

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10284368-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
