body {
  background-color: #fff;
  color: #333;
  font-family: Arial,Verdana,sans-serif;
  font-size: 62.5%;
  margin: 10% 5% 0 5%;
  text-align:center;
}

a,
a:visited,
a:active {
  color:#0080ff;
  text-decoration:underline;
}
a:hover {
  text-decoration:none;
}
#burnday {
  clear: both;
  font-size: 3em;
  margin:auto;

  p {
    margin-bottom: 25px;
  }
}
.tiny {
  display: block;
  font-size: 8pt;
  line-height: 12pt;
}
.support {
  margin-bottom: 25px;
}

span.focus {
  font-style: italic;
  background-color: #ffffe0;
}
#share {
  margin: 0 auto;
  width: 450px;
  padding-bottom: 15px;
}