%p
  Phoenix has no clean air advisories for
  = @data.date
%p
  Make a
  %a{:href => "http://cleanairmakemore.com/commitment.php"} Clean Air commitment
  to keep it that way
%p
  %iframe{:height  => "104", :frameborder => "0", :width => "213", :scrolling => "no", :allowtransparency => "true", :marginwidth => "0", :marginheight => "0", :src => "http://www.cleanairmakemore.com/embed-widget-213x104.html"}
