%p
  Phoenix has a
  %span.focus No-Burn Day
  advisory for
  = @data.date
%p
  Learn more about
  %a{:href => "http://cleanairmakemore.com/commitment.php"} No-Burn Day
%section.tiny
  Violators can be fined up to $250!
  %br/
  \..and force-fed pickled strawberries covered in vegemite.
  %br/
  Okay, maybe not that last part.
%br/