
                        <div class="sta-day">
                                    <div class="aq12">Thursday, 4/21</div>
                                    <div class="aq10"><a target=_blank href="http://sparetheair.org/Make-a-Difference/Spare-the-Air-Every-Day/Summer.aspx">No Spare the Air Alert in Effect</a></div>
                        </div>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="head"><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><link rel="shortcut icon" href="http://www.baaqmd.gov/favicon.ico" type="image/vnd.microsoft.icon" /><link rel="icon" type="image/vnd.microsoft.icon" href="http://www.baaqmd.gov/favicon.ico" /><meta http-equiv="cache-control" content="no-cache" /><meta http-equiv="expires" content="0" /><meta http-equiv="pragma" content="no-cache" /><link rel="stylesheet" type="text/css" href="/app_themes/burnstatus/css/feeds.css" /><title>

</title></head>
<body><form name="form1" method="post" action="/Feeds/BurnStatusIframe.aspx" id="form1">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUJNTgzNzQzMjc0ZGT8io1oWvAv/0CmnCTLyYHzshiZdw==" />
</div>

    
    </form></body>
</html>
